<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="greetingService" class="org.glassfish.jersey.examples.helloworld.spring.GreetingServiceImpl"/>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

    <bean class="org.glassfish.jersey.examples.helloworld.spring.DateTimeService" scope="request"/>

    <bean class="org.glassfish.jersey.examples.helloworld.spring.SpringSingletonResource"/>

    <bean class="org.glassfish.jersey.examples.helloworld.spring.SpringRequestResource" scope="request"/>

    <bean class="org.glassfish.jersey.examples.helloworld.spring.CustomExceptionMapper"/>

</beans>
